<!DOCTYPE html>
<html ng-app="demo">
<head>
	<title>demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
	<script src="lib/angular.min.js"></script>

</head>
<body class="container" ng-controller="mainCtrl">
	<div style="margin-top: 20px;">
		<div class="btn btn-default">Add</div>
	</div>
	<div style="margin-top: 20px;">
		<table class="table table-striped">
			<tr>
				<td>
					<div>Name</div>
					<div>(job title)</div>
				</td>
				<td>Age</td>
				<td>Nickname</td>
				<td>Employee</td>
				<td></td>
			</tr>
			<tr ng-repeat="person in persons">
				<td>
					<div>{{person.name}}</div>
					<div>{{person.job}}</div>
				</td>
				<td>{{person.age}}</td>
				<td>{{person.nick}}</td>
				<td>{{person.employee}}</td>
				<td ng-click="delete($index)">Delete</td>
			</tr>
		</table>
	</div>

	<div>
		<textarea class="form-control" rows="10">{{dump}}</textarea>
	</div>

	<script src="js/app.js"></script>
</body>
</html>